html,
body {
  font-family: "Fira Code", monospace;
  color: #fff;
  font-size: 1.1rem;
  /* background: linear-gradient(to top right, rgb(68, 68, 68), #191919);
    background-repeat: no-repeat;
    background-size: cover; */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  display: flex;
  place-items: center;
  justify-content: center;
}
iframe {
  /* height: 500px;
  width: 700px; */
  height: 80vh;
  width: 98vw;
}

#preloader {
  background: #fff url(/images/dotdotdot.gif) no-repeat center center;
  background-size: 5%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}
