html,
body {
    font-family: "Fira Code", monospace;
    color: #fff;
    font-size: 1.1rem;
    background: linear-gradient(to top right,rgb(68, 68, 68),#191919);
    background-repeat: no-repeat;
    background-size: cover;

}

#preloader {
    background: #fff url(/images/dotdotdot.gif) no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}