*,
html,
body,
div {
  font-family: "Fira Code", monospace;
  font-size: 1.1rem;
  z-index: 9999;
}

h5,
h6,div {
  text-align: center;
  color: white;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

// Notes Styling

li {
  list-style: none;
  font-style: normal;
  font-size: 1em;
  color: rgba($color: rgb(255, 0, 170), $alpha: 1);
}

#preloader {
  background: #fff url(/images/dotdotdot.gif) no-repeat center center;
  background-size: 5%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}
.color{
  color:#191919
}